<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leitor_qr_code">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leitor_Qr_Code">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CadastroActivity" android:exported="true" />
        <activity android:name=".view.dicas.DicasActivity" android:exported="true" />
        <activity android:name=".view.participante.MainParticipanteActivity" android:exported="true" />
        <activity android:name=".view.organizador.MainOrganizadorActivity" android:exported="true" />
        <activity android:name=".view.organizador.DetalhesEventoOrganizadorActivity" android:exported="true" />
        <activity android:name=".view.participante.DetalhesEventoParticipanteActivity" android:exported="true" />
        <activity android:name=".view.organizador.ConfirmacaoEntradaActivity" android:exported="false" />
        <activity android:name=".view.organizador.ScannerOrganizadorActivity" android:exported="false" />
        
        <!-- CORREÇÃO: Registra a nova tela de histórico -->
        <activity 
            android:name=".view.organizador.HistoricoRegistrosActivity" 
            android:exported="false"/>

    </application>

</manifest>
