<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leitor_qr_code">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leitor_Qr_Code">

        <!-- Tela de LoginCadastro (inicial) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela de Cadastro -->
        <activity
            android:name=".CadastroActivity"
            android:exported="true" />

        <!-- Tela de Dicas -->
        <activity
            android:name=".view.dicas.DicasActivity"
            android:exported="true" />

        <!-- Tela Principal do participante / Home (contém BottomNavigationView) -->
        <activity
            android:name=".view.participante.MainParticipanteActivity"
            android:exported="true" />

        <!-- Tela Principal do organizador / Home (contém BottomNavigationView) -->
        <activity
            android:name=".view.organizador.MainOrganizadorActivity"
            android:exported="true" />

        <!-- Tela de Detalhes do Evento (Organizador) -->
        <activity
            android:name=".view.organizador.DetalhesEventoOrganizadorActivity"
            android:exported="true" />

        <!-- CORREÇÃO: Tela de Detalhes do Evento (Participante) -->
        <activity
            android:name=".view.participante.DetalhesEventoParticipanteActivity"
            android:exported="true" />

    </application>

</manifest>
